server:
  port: 8082
  forward-headers-strategy: framework
spring:
  datasource:
    url: jdbc:postgresql://db:5432/postgres_user_db
    username: ${DB_USER}
    password: ${DB_PASS}
    driver-class-name: org.postgresql.Driver
  data:
    redis:
      host: ${REDIS_HOST}
      port: ${REDIS_PORT}
  jpa:
    hibernate:
      ddl-auto: create-drop
    generate-ddl: true
    properties:
      hibernate:
        dialect: org.hibernate.dialect.PostgreSQLDialect
  security:
    oauth2:
      resourceserver:
        jwt:
          secret: ${JWT_SECRET}

springdoc:
  api-docs:
    path: /v1/api-docs
  swagger-ui:
    path: /v1/swagger-ui.html

jwt:
  secret: ${JWT_SECRET}

stripe:
  secret-key: ${STRIPE_SECRET_KEY}
  webhook-key: ${STRIPE_WEBHOOK_KEY}

logging:
  level:
    root: INFO
    org.springframework.security: DEBUG
    org.hibernate.SQL: DEBUG
    org.hibernate.type.descriptor.sql.BasicBinder: TRACE
