server:
  port: 8080
  forward-headers-strategy: framework
spring:
  datasource:
    url: jdbc:postgresql://localhost:5420/user_service
    username: ${DB_USER}
    password: ${DB_PASS}
    driver-class-name: org.postgresql.Driver
  jpa:
    generate-ddl: true
    properties:
      hibernate:
        dialect: org.hibernate.dialect.PostgreSQLDialect
        format_sql: true
        show_sql: true
        ddl-auto: create-drop
springdoc:
  api-docs:
    path: /v1/api-docs
  swagger-ui:
    path: /v1/swagger-ui.html

jwt:
  secret: ${JWT_SECRET}


logging:
  level:
    root: DEBUG
    org.springframework.security: DEBUG
    org.hibernate.SQL: DEBUG
    org.hibernate.type.descriptor.sql.BasicBinder: TRACE

app:
  admin:
    email: ${APP_ADMIN_EMAIL}
    password: ${APP_ADMIN_PASSWORD}
