server:
  port: 8081
spring:
  datasource:
    url: jdbc:postgresql://db:5432/postgres_user_db
    username: ${DB_USER}
    password: ${DB_PASS}
    driver-class-name: org.postgresql.Driver

  jpa:
    hibernate:
      ddl-auto: create-drop
    generate-ddl: true
    properties:
      hibernate:
        dialect: org.hibernate.dialect.PostgreSQLDialect
  security:
    oauth2:
      resourceserver:
        jwt:
          secret: ${JWT_SECRET}
springdoc:
  api-docs:
    path: /v1/api-docs
  swagger-ui:
    path: /v1/swagger-ui.html

jwt:
  secret: ${JWT_SECRET}


logging:
  level:
    root: INFO # Default logging level
    org.springframework.security: DEBUG # Spring Security logs
    org.hibernate.SQL: DEBUG # Hibernate SQL queries
    org.hibernate.type.descriptor.sql.BasicBinder: TRACE # Bind parameter values

app:
  admin:
    email: ${APP_ADMIN_EMAIL}
    password: ${APP_ADMIN_PASSWORD}
