@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: 'Sorts Mill Goudy', serif;
}


.swiper-button-next,
.swiper-button-prev {
  color: #666 !important;
  transition: all 0.2s ease;
}

.swiper-button-next:hover,
.swiper-button-prev:hover {
  color: #000 !important;
}

