server:
  port: 8088

spring:
  cloud:
    gateway:
      routes:
        - id: order-service
          uri: http://order-service:8082
          predicates:
            - Path=/order/**
          filters:
            - StripPrefix=1

        - id: user-service
          uri: http://user-service:8081
          predicates:
            - Path=/auth/**
          filters:
            - StripPrefix=1

        - id: stock-service
          uri: http://stock-service:8083
          predicates:
            - Path=/stock/**
          filters:
            - StripPrefix=1

jwt:
  secret: ${JWT_SECRET}

logging:
  level:
    root: INFO
    org.springframework.cloud.gateway: DEBUG
