server:
  port: 8083
  forward-headers-strategy: framework
spring:
  datasource:
    url: jdbc:postgresql://db:5432/postgres_user_db
    username: ${DB_USER}
    password: ${DB_PASS}
    driver-class-name: org.postgresql.Driver

  jpa:
    hibernate:
      ddl-auto: create-drop
    generate-ddl: true
    properties:
      hibernate:
        dialect: org.hibernate.dialect.PostgreSQLDialect
springdoc:
  api-docs:
    path: /v1/api-docs
  swagger-ui:
    path: /v1/swagger-ui.html

jwt:
  secret: ${JWT_SECRET}

stripe:
  secret-key: ${STRIPE_SECRET_KEY}

host:
  url: ${HOST_URL}

logging:
  level:
    root: INFO # Default logging level
    org.springframework.security: DEBUG # Spring Security logs
    org.hibernate.SQL: DEBUG # Hibernate SQL queries
    org.hibernate.type.descriptor.sql.BasicBinder: TRACE # Bind parameter values
